[Unit]
Description=Check for OS updates and save them to temporary file
Wants=checkupdates.timer

[Service]
Type=oneshot
ExecStart=bash -c "/home/me/bin/checkupdates-with-aur > /tmp/checkupdates.txt"

[Install]
WantedBy=multi-user.target
