[user]
	name = MikaelElkiaer
	email = 2102306+MikaelElkiaer@users.noreply.github.com
[core]
	autocrlf = false
	editor = vim
	safecrlf = false
	pager = "diff-so-fancy | less --tabs=4 -RFX"
[rebase]
	autosquash = true
[credential]
	helper = cache
[pull]
	rebase = true
[merge]
	ff = false
	tool = vimdiff
[push]
	default = current
[alias]
	flog = log --pretty=format:'%C(yellow)%h %C(red)%ad %C(cyan)%x09%an%x09%C(green)%d %C(white)%s' --date=relative --graph
	ss = status -s
	aa = add -A
	ca = commit --amend --no-edit
	llog = !"watch --interval 1 --color \"git --no-pager flog | less -R\""
	sprune = !"git fetch -p && for branch in `git branch -vv | grep ': gone]' | awk '{print $1}'`; do git branch -D $branch; done"
	oclean = !"find -type f -name *.orig -print0 | xargs -0 rm -f"
[color]
	ui = always
[diff]
	tool = vimdiff
