#!/bin/sh

# sourced at boot by ~/.xinitrc and most display managers

XDG_CONFIG_HOME="$HOME/.config"
export XDG_CONFIG_HOME

[ "$PATH" == *"$HOME/bin"* ] || PATH="$HOME/bin:$PATH"
[ "$PATH" == *"/opt/dotnet"* ] || PATH="/opt/dotnet:$PATH"
[ "$PATH" == *"/home/me/.dotnet/tools"* ] || PATH="/home/me/.dotnet/tools:$PATH"

exec light-locker &
